.git
.github
.idea
.vscode
**/.vscode
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.db
**/*.db-shm
**/*.db-wal
**/*.sqlite
**/*.sqlite3
**/*.log
.env
.preview-*
.env.*
!.env.example
documentação
